.header{
  display: flex;
  background:#f2f2f0;
  border-bottom: 5px solid whitesmoke;
  align-items: center;
  height: 100px;
}


.header__left{
  display: flex;
  flex:0.1;
    padding:20px;
    justify-content:flex-end;
}

.header__left>Iconbutton{
  display: none;
}
.header__center{
  display: flex;
  flex:0.8;
  justify-content: space-evenly;
  padding:10px;
  align-items: center;
}
.header__center>p{
  font-size: 45px;
  color:greenyellow;
  font-weight:bold;
   display: flex;
  
}

.ham__bar{
  display: none;
}
#icon__active2{
  display: flex;
  justify-items: center;
  margin: 10px auto;
  margin-top:20px;
  color: #c04b37;
  flex-direction: column;
}
#icon__active1{
  display: flex;
  justify-items: center;
  margin: 10px auto;
  margin-top:30px;
  color: #c04b37;
  flex-direction: column;
}


  .link_option{
    padding: 2px;
    border-bottom:2px solid white;
    color:white;
    font-size:large;
  }
  .link{
    text-decoration: none;
    color:#c04b37;
  }
 

  @media screen and (max-width:680px)
  {
    .dropdown{
      display: block;
    }
    .header__center>p{
       font-weight: normal;
    }
    .header__center{
      flex:1;
    }
    .ham__bar{
      display: block;
    }
  }
